@using Application.ViewModels
@using Application.ViewModels.IndexViewModels

@model IndexViewModel<IndexPositionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<h4>Page: @Model.PageViewModel.PageNumber / @Model.PageViewModel.TotalPages</h4>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
   asp-route-page="@(1)"
   asp-route-pageSize="@Model.PageViewModel.PageSize"
   class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        На первую страницу
    </a>
}

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   asp-route-pageSize="@Model.PageViewModel.PageSize"
   class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   asp-route-pageSize="@Model.PageViewModel.PageSize"
   class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
   asp-route-page="@Model.PageViewModel.TotalPages"
   asp-route-pageSize="@Model.PageViewModel.PageSize"
   class="btn btn-outline-dark">
        На последнюю страницу
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

<form asp-action="Index">
    <label class="control-label">Введите номер страницы</label>
    @*<div class="col-md-10">*@
    <input type="number"
           width="20"
           min="@(1)"
           max="@Model.PageViewModel.TotalPages"
           name="page"
           value="@Model.PageViewModel.PageNumber" />
    <label class="control-label">Введите размер страницы</label>
    <input type="number"
           width="20"
           min="@(1)"
           name="pageSize"
           value="@Model.PageViewModel.PageSize" />
    <br />
    <br />
    <label class="control-label">Введите фильтр</label>
    <input type="text"
           name="filter"
           value="@ViewData["Filter"]?.ToString()" />
    <input type="submit" value="Найти" class="btn btn-primary" />
    <a asp-action="Index"
       asp-route-resetFilter="@true"
       asp-route-page="@Model.PageViewModel.PageNumber"
       asp-route-pageSize="@Model.PageViewModel.PageSize"
       class="btn btn-danger">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Сброс фильтра
    </a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-orderState="@ViewBag.NameSort"
                   asp-route-page="@Model.PageViewModel.PageNumber"
                   asp-route-pageSize="@Model.PageViewModel.PageSize">
                    Name
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-orderState="@ViewBag.SalarySort"
                   asp-route-page="@Model.PageViewModel.PageNumber"
                   asp-route-pageSize="@Model.PageViewModel.PageSize">
                    Salary
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Редактировать</a>    
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Подробнее</a>   
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
