@using Domain

@model IEnumerable<User>

@{
    ViewData["Title"] = "All users";
}

<h1>Users</h1>

<p>
    <form method="post" action="Filter">
        <p>Введите имя:</p>
        <input type="text" name="filterText" />
        <input type="submit" value="Submit" asp-page-handler="Filter" />
    </form>
</p>

<table>

    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Middle Name</td>
        <td>View Full Info</td>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.MiddleName</td>
            <td>
                @*<a asp-controller="User" asp-page="UserInfo" asp-route-id="@user.Id">Посмотреть</a>*@
                <a href="/User/UserInfo/@user.Id">Посмотреть</a>
            <td>
        </tr>
    }

</table>